# Template for the admin kubeconfig file
{
  kubectl config set-cluster {{ cluster_name }} \
    --certificate-authority={{ cluster_name }}-ca.crt \
    --embed-certs=true \
    --server=https://127.0.0.1:6443 \
    --kubeconfig=admin.kubeconfig

  kubectl config set-credentials admin \
    --client-certificate={{ cluster_name }}-admin.crt \
    --client-key={{ cluster_name }}-admin.key \
    --embed-certs=true \
    --kubeconfig=admin.kubeconfig

  kubectl config set-context default \
    --cluster={{ cluster_name }} \
    --user=admin \
    --kubeconfig=admin.kubeconfig

  kubectl config use-context default --kubeconfig=admin.kubeconfig
}
