[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ ansible_host }} \
  --allow-privileged=true \
  --authorization-mode=Node,RBAC \
  --client-ca-file=/var/lib/kubernetes/{{ cluster_name }}-ca.crt \
  --enable-admission-plugins=NodeRestriction \
  --enable-bootstrap-token-auth=true \
  --etcd-cafile=/var/lib/kubernetes/{{ cluster_name }}-ca.crt \
  --etcd-certfile=/var/lib/kubernetes/{{ cluster_name }}-etcd.crt \
  --etcd-keyfile=/var/lib/kubernetes/{{ cluster_name }}-etcd.key \
  --etcd-servers={{ etcd_cluster }} \
  --insecure-port=0 \
  --kubelet-certificate-authority=/var/lib/kubernetes/{{ cluster_name }}-ca.crt \
  --kubelet-client-certificate=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.crt \
  --kubelet-client-key=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.key \
  --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
  --proxy-client-cert-file=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.crt \
  --proxy-client-key-file=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.key \
  --requestheader-allowed-names=front-proxy-client \
  --requestheader-client-ca-file=/var/lib/kubernetes/{{ cluster_name }}-ca.crt \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --secure-port=6443 \
  --service-account-key-file=/var/lib/kubernetes/{{ cluster_name }}-service-account.key \
  --service-cluster-ip-range=10.96.0.0/12 \
  --tls-cert-file=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.crt \
  --tls-private-key-file=/var/lib/kubernetes/{{ cluster_name }}-kube-apiserver.key \
  --encryption-provider-config=/var/lib/kubernetes/encryption-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
