# Template for the kube-proxy_kubeconfig file
{
  kubectl config set-cluster {{ cluster_name }}
    --certificate-authority={{ cluster_name }}-ca.crt
    --embed-certs=true
    --server=https://{{ proxies_ips }}:6443
    --kubeconfig=kube-proxy.kubeconfig

  kubectl config set-credentials system:kube-proxy
    --client-certificate={{ cluster_name }}-kube-proxy.crt
    --client-key={{ cluster_name }}-kube-proxy.key
    --embed-certs=true
    --kubeconfig=kube-proxy.kubeconfig

  kubectl config set-context default
    --cluster={{ cluster_name }}
    --user=system:kube-proxy
    --kubeconfig=kube-proxy.kubeconfig

  kubectl config use-context default --kubeconfig=kube-proxy.kubeconfig
}
